[Unit]
Description=web client of expose-to-the-light
Wants=network-online.target
After=network.target

StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=ettl-web DEBUG
ExecStop=/usr/bin/killall -9 ettl-web
User=pi

Restart=on-failure
RestartSec=5s

# Useful during debugging; remove it once the service is working
#StandardOutput=journal+console

[Install]
WantedBy=multi-user.target