[Unit]
Description=web client of expose-to-the-light
Wants=network-online.target
After=network.target

StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStart=ettl-web INFO
ExecStop=/bin/bash -c "ps ax | grep java | grep -v 'grep' | grep expose-to-the-light-web_2 | cut -d '?' -f1 | xargs kill -2"
User=pi

Restart=on-failure
RestartSec=5s

# Useful during debugging; remove it once the service is working
#StandardOutput=journal+console

[Install]
WantedBy=multi-user.target