/*https://stackoverflow.com/a/16877398*/
@-webkit-keyframes yellow-fade {
    0% {box-shadow: none;}
    25% {box-shadow: 0px 0px 5px 0px yellow;}
    75% {box-shadow: 0px 0px 5px 0px yellow;}
    100% {box-shadow: none;}
}
@keyframes yellow-fade {
    0% {box-shadow: none;}
    25% {box-shadow: 0px 0px 5px 0px yellow;}
    75% {box-shadow: 0px 0px 5px 0px yellow;}
    100% {box-shadow: none;}
}
.highlight {
    -webkit-animation: yellow-fade 2s ease-in 3;
    animation: yellow-fade 2s ease-in 3;
}

.responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.log-timestamp {
    font-size: 0.6rem;
}

#metrics-section {
    overflow-y: hidden;
    display: flex;
}